{% extends 'base.html' %}
{% load static %}


{% block content-block %}

<div class="container text-bg-light">
  <div class="row row-cols-md-2 row-cols-lg-3">
    {% for video in content %}
    <div class="col-md-4">
      <!-- <a href="/video/{{ video.id }}"> -->
        <div class="card m-1">
          <div class="card-body">
            <h4>{{ video.name }}</h4>
            <a href="{% url 'video_page' video_id=video.id %}" class="stretched-link"></a>
          </div>
          <img src="{{ video.thumbnail.url }}" alt="{{ video.name }}" class="img-fluid">
        </div>
        <!-- </a> -->
      </div>
      {% endfor %}
    </div>
  </div>
  
  {% endblock %}
  
